body{
  background-image: url(../img/black-friday-concept-with-cart-basket.jpg) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.icon-grande {
  font-size: 60px;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.height-custom{
    min-height: 60vh;
}

.height-navbar{
    min-height: 9vh;
}
.card-w{
    width: 18rem;
    
}
.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.bi-facebook{

    color: #0072FF;

}




